<div class="d-flex justify-content-between vw-100 ps-3 pe-3">
    <div class="d-flex align-items-end">
        <img 
        src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
        width="50"
        class="rounded-circle" 
        alt="foto_de_perfil" 
        />
        <div class="d-flex flex-column">
            <span class="ms-2 fs-6 fw-bold text-light">{{ userName }}</span>
            <span class="ms-2 fs-6 fw-bold text-light">{{ userClinic }}</span>
        </div>
    </div>
    <div class="d-flex align-items-center" role="button" (click)="doLogout()">
        <i role="button" class="fa-solid fa-right-from-bracket text-light me-1"></i>
        <span class="fw-bolder text-light">Sair</span>
    </div>
</div>