<div *ngIf="isLoading; then trueBlock else falseBlock"></div>

<ng-template #falseBlock>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmitForgetPassForm()" >
        <h3>Esqueci minha senha</h3>
        <div class="mb-3">
            <label for="email" class="form-label">Informe o e-mail vinculado ao seu usuário:</label>
            <input
                [ngClass]="{'border border-danger': (!forgetPasswordForm.controls['email'].valid && !forgetPasswordForm.controls['email'].pristine)}"
                id="email"
                formControlName="email"
                type="text"
                class="form-control"
            >
        </div>
        <button type="submit" class="btn btn-primary form-control fw-bold mb-3">Enviar e-mail <i class="fa-solid fa-paper-plane"></i></button>
    </form>    
</ng-template>

<ng-template #trueBlock>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <app-loading></app-loading>
    </div>
</ng-template>