<div class="d-flex flex-row vh-100">
    <div class="col-sm-9 bg-dark d-flex justify-content-center align-items-center flex-column">
        <i class="fa-solid fa-lock fa-2xl text-light mb-2"></i>
        <h1 class="text-light">Security</h1>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center col-sm-3">
        <div class="col-sm-9">
            <div *ngIf="!showForgetPassword; then loginForm else forgetPassForm"></div>

            <ng-template #loginForm>
                <app-login-form></app-login-form>
            </ng-template>

            <ng-template #forgetPassForm>
                <app-forget-password-form (eventEmailSent)="handlerShowForgetPassword()"></app-forget-password-form>
            </ng-template>


            <div [ngClass]="{'visually-hidden': loginFormComponent?.isLoading == true || ForgetPasswordFormComponent?.isLoading == true}" class="d-flex justify-content-center align-items-start mb-3">
                <button (click)="handlerShowForgetPassword()" class="btn btn-link text-decoration-none text-muted border-0">
                    {{ btnText }}
                </button>
            </div>
        </div>
    </div>
</div>